[submodule "hg/extensions/hg-prompt"]
	path = hg/extensions/hg-prompt
	url = ./hg/extensions/hg-prompt
[submodule "hg/extensions/hgflow"]
	path = hg/extensions/hgflow
	url = ./hg/extensions/hgflow
[submodule "hg/extensions/hgattic"]
	path = hg/extensions/hgattic
	url = ./hg/extensions/hgattic
[submodule "hg/extensions/localbranch"]
	path = hg/extensions/localbranch
	url = ./hg/extensions/localbranch
